@background-color: #ffffff;

@uzivatele-modul-color: #005e21;
@objednavky-modul-color: #32174b;
@faktury-modul-color: #ee1d24;
@sklad-modul-color: #0076a3;

@module-icon-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

/**
 * loadovací mixin
 */
.loading() {
    position: relative;

    &:after {
        display: none;
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.5) url("../images/ajax-loader.gif") no-repeat center center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    &.loading:after {
        display: block;
    }
}

.transition(@vlastnost: all, @trvani: 0.5s, @funkce: ease-out) {
    -webkit-transition: @vlastnost @trvani;
    -moz-transition: @vlastnost @trvani;
    -ms-transition: @vlastnost @trvani;
    -o-transition: @vlastnost @trvani;
    transition: @vlastnost @trvani;

    transition-timing-function: @funkce;
}