@import "mixiny";

*:focus {
    outline: none;
}

html,
body {
    min-height: 100%;
}

body.dark {
    background-image: url("../images/dark-stripes.png");
    background-repeat: repeat;
}

body.light {
    background: url("../images/bg_body_top.png") repeat-x top, url("../images/bg_body_bottom.png") repeat-x bottom;
    background-color: white;
}

body {
    .form-control, .btn, .alert, .well, .dropdown-menu, .input-group-addon, .modal-content, .label {
        border-radius: 0;
    }

    .well {
        padding: 15px;
    }

    .label {
        padding: .3em .6em .3em;
        position: relative;
        top: -2px;
    }

    // todo doladit, nejde videt v mPDF
    #faktura-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        /* margin-top: -208px; */
        margin-left: -321px;
        background-image: url("../../modules/faktury/assets/images/voplasto.png");
        width: 653px;
        height: 416px;
        opacity: 0.2;
    }

    .wrap {
        width: 1170px;
        margin: 0px auto;
        height: auto;

        .wrapperLeft {
            display: none;
            background-color: #222;
            padding: 10px;

            #left-mobile-menu {
                a {
                    display: block;
                    margin-bottom: 10px;
                    line-height: 32px;
                    color: white;
                    white-space: nowrap;

                    img {
                        margin-right: 10px;
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

        .wrapperMiddle {
            background-color: @background-color;

            .wrapperHead {
                .top-navbar {
                    background-color: #222;
                    padding: 10px;
                    height: 84px;

                    div[class*='-navbar'] {
                        a {
                            display: block;
                            position: relative;
                            float: left;
                            margin-right: 10px;

                            &:last-of-type {
                                margin-right: 0px;
                            }

                            &.active:after, &:hover:after {
                                display: block;
                                content: ' ';
                                position: absolute;
                                bottom: -10px;
                                left: 17px;
                                width: 0;
                                height: 0;
                                /* sipecka */
                                border-left: 15px solid transparent;
                                border-right: 15px solid transparent;
                                border-bottom: 15px solid #f5f5f5;
                                /* ******* */
                            }
                        }
                    }

                    .mobile-navbar {
                        display: none;
                        color: white;

                        .navbar-toggle {
                            border-color: #333;

                            &.left {
                                float: left;
                                margin-right: 0px;
                                margin-left: 15px;
                            }

                            &.right {
                                float: right;
                                margin-right: 15px;
                                margin-left: 0px;
                            }

                            .icon-bar {
                                background-color: #fff;
                            }

                            &:hover, &:focus {
                                background-color: #333;
                            }
                        }
                    }

                    .module-navbar {
                        color: white;
                        float: left;
                    }

                    .system-navbar {
                        color: white;
                        float: right;
                    }
                }
            }

            .wrapperContent {
                .breadcrumbs {
                    height: 37px; // ???
                    background-color: #f5f5f5;
                    border-bottom: 1px solid #ddd;

                    .breadcrumb {
                        float: left;
                        margin-bottom: 0px;

                        &.stable {
                            display: block;
                        }

                        &.hint {
                            display: none;
                        }
                    }

                    #module-hint {
                        line-height: 37px;
                        color: #777;
                        padding: 8px 15px;
                    }

                    .logged-as {
                        float: right;
                        margin-right: 15px;
                        line-height: 37px;
                    }
                }

                .alert {
                    padding: 15px;
                    margin: 20px 15px 0px;
                    border: 1px solid transparent;
                    border-radius: 0;
                }

                .content {
                    padding: 15px 15px 0px;

                    form {
                        .loading();
                    }

                    .grid-view {
                        .summary {
                            margin-bottom: 5px;
                        }

                        table {
                            th {
                                white-space: nowrap;
                            }

                            td {
                                &.price-column, &.action-column {
                                    width: 1%;
                                    white-space: nowrap;
                                    text-align: right;
                                }

                                &.material-column {
                                    padding: 0;
                                    vertical-align: middle;
                                    width: 1%;

                                    .bootstrap-select {
                                        height: 100%;

                                        button {
                                            background-color: transparent;
                                            border: none;
                                            height: 100%;
                                        }
                                    }

                                    .select-wrapper {
                                        position: relative;
                                        padding-right: 25px;

                                        select[name*='material'] {
                                            -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;

                                            height: 100%;
                                            border: none;
                                            background: transparent;
                                            padding: 7px 10px;
                                        }

                                        span.caret {
                                            position: absolute;
                                            top: 50%;
                                            right: 12px;
                                            margin-top: -2px;
                                            vertical-align: middle;
                                            margin-left: 0;
                                        }
                                    }
                                }

                                &.show-detail-column {
                                    a:hover {
                                        position: relative;

                                        &::after {
                                            content: "\e105";
                                            font-family: Glyphicons Halflings;
                                            font-size: 12px;
                                            position: absolute;
                                            top: 0px;
                                            right: -15px;
                                        }
                                    }
                                }
                            }
                        }

                        ul.pagination {
                            margin: 0px auto 20px auto;

                            & > li:first-child > span,
                            & > li:first-child > a {
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px;
                            }

                            & > li:last-child > a, & > li:last-child > span {
                                border-top-right-radius: 0px;
                                border-bottom-right-radius: 0px;
                            }
                        }
                    }

                    .h2-buttons, .h3-buttons {
                        width: 100%;
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #eee;

                        a.btn {
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0px;
                            }
                        }
                    }

                    .h2-buttons {
                        h2 {
                            line-height: 34px;
                            float: left;
                            min-height: 34px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            margin-right: 20px;
                        }
                    }

                    .h3-buttons {
                        h3 {
                            line-height: 30px;
                            float: left;
                            height: 30px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            margin-right: 20px;
                        }
                    }

                    .h4-buttons {
                        h4 {
                            float: left;
                        }

                        a {
                            display: inline-block;
                            margin: 10px 0px 10px 10px;
                            color: #333;
                        }
                    }

                    #prihlaseni, #zapomenute-heslo, #zapomenute-heslo-zmena {
                        width: 100%;
                        max-width: 640px;
                        margin: auto;
                    }

                    #dashboard-modules {
                        .module-link-wrapper {
                            width: 256px;
                            height: 256px;
                            float: left;
                            position: relative;
                            z-index: 10;
                            margin: 0px 20px 20px 0px;

                            &:nth-of-type(4n+0) {
                                margin-right: 0px;
                            }

                            .dashboard-module-link {
                                display: block;
                                float: left;
                            }

                            .module-link {
                                .module-link-desc {
                                    display: none;
                                }

                                &:hover {
                                    display: table;
                                    position: relative;
                                    z-index: 20;
                                    text-decoration: none;
                                    color: white;

                                    .module-link-desc {
                                        position: absolute;
                                        bottom: 0px;
                                        left: 0px;
                                        background-color: rgba(0, 0, 0, 0.7);
                                        width: 256px;
                                        height: 48px;
                                        display: table-cell;
                                        text-align: center;
                                        font-size: 28px;
                                        font-weight: 700;
                                        line-height: 48px;
                                    }
                                }
                            }
                        }
                    }

                    div.row.dashboard {
                        #dashboard-probehle-udalosti,
                        #dashboard-nejblizsi-udalosti {
                            table {
                                thead {
                                    th:nth-child(3) {
                                        width: 1%;
                                    }
                                }
                            }
                        }
                    }

                    table.kalendar, table.kalendar-head, table.kalendar-body {
                        width: 100%;
                        border-collapse: collapse;
                        margin-bottom: 20px;

                        thead {
                            margin-bottom: 20px;
                            th:nth-child(1) {
                                text-align: left;
                            }
                            th:nth-child(2) {
                                text-align: center;
                            }
                            th:nth-child(3) {
                                text-align: right;
                            }
                        }

                        tbody {
                            tr {
                                border-bottom: 1px #eee solid;

                                &:last-of-type {
                                    border-bottom: none;
                                }

                                td {
                                    border-right: 1px #eee solid;

                                    &:last-of-type {
                                        border-right: none;
                                    }
                                }
                            }

                            td {
                                width: 14.28571428571429%;
                                vertical-align: top;
                                position: relative;
                                padding-bottom: 14.28571428571429%;

                                span.den-cislo {
                                    display: block;
                                    position: absolute;
                                    top: 0; bottom: 0; left: 0; right: 0;
                                    content: attr(data-den);
                                    color: #dddddd;
                                    text-align: center;
                                    z-index: 1;
                                }

                                & > div {
                                    position: absolute;
                                    top: 0; bottom: 0; left: 0; right: 0;

                                    div[class^="seznam-akci"] {
                                        position: absolute;
                                        left: 0px;
                                        bottom: 0px;
                                        padding: 5px;
                                        width: 100%;
                                        z-index: 10;

                                        ul {
                                            padding: 0;
                                            margin: 0;
                                            list-style: none;

                                            li {
                                                height: 14px;
                                                line-height: 14px;
                                                font-size: 10px;
                                                overflow-y: hidden;
                                                padding: 0px 5px;
                                                margin-bottom: 5px;

                                                &:last-child {
                                                    margin-bottom: 0px;
                                                }

                                                a {
                                                    color: black;
                                                    text-decoration: none;

                                                    &:hover {
                                                        color: white;
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    table.kalendar-head {
                        margin-bottom: 20px;
                    }

                    ul.nav-tabs {
                        margin-bottom: 10px;
                    }

                    .model-galerie {
                        margin-left: -5px;
                        margin-right: -5px;

                        .img-thumbnail {
                            border-radius: 0px;
                            width: 142px;
                            height: auto;
                            margin: 0px 5px 10px;
                        }
                    }

                    .thingie {
                        width: 100%;

                        #model3d-viewer {
                            width: 100%;
                            height: 640px;
                            border: 1px solid #e3e3e3;
                            border-bottom: none;
                            overflow: hidden;

                            .file-not-found {
                                display: block;
                                width: 100%;
                                height: 100%;
                                background: url('../images/file_not_found.png') no-repeat center center;

                                h3 {
                                    margin: 0;
                                    position: relative;
                                    bottom: -80%;
                                    text-align: center;
                                    width: 100%;
                                }
                            }

                            canvas {

                            }
                        }

                        .viewer-ovladani {
                            text-align: center;

                            button {
                                margin-right: 20px;

                                &:last-child {
                                    margin-right: 0px;
                                }
                            }

                            & > span {
                                margin-right: 16px;
                            }

                            .thingie-radio {
                                display: inline;
                                margin-right: 24px;

                                label {
                                    margin-bottom: 0px;
                                    margin-right: -4px;

                                    input[type="radio"] {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    #model-form {
                        width: 100%;
                        max-width: 760px;
                    }

                    #objednavka-pridat-form {
                        .loading();

                        #objednavka-polozky {
                            .objednavka-polozka {
                                /*&:nth-of-type(2) {
                                    background-color: #eeeeee;
                                }*/

                                width: 100%;
                                margin-bottom: 26px;

                                .polozka-nazev {
                                    line-height: 34px;
//                                    float: left;
//                                    width: 65%;
                                }

                                .polozka-inputy {
//                                    float: right;

                                    text-align: right;

                                    input[type="text"] {
                                        float: left;
                                        display: inline-block;
//                                        width: inherit;
                                    }

                                    .input-group {
                                        width: 200px;
                                        float: left;
                                        input[type="text"] {
                                            width: 100%;
                                        }
                                    }

                                    .link-group {
                                        a.polozka-odebrat, a.polozka-plus, a.polozka-minus {
                                            line-height: 34px;
                                            font-size: 20px;
                                            margin-left: 7px;
                                        }
                                    }
                                }
                            }
                        }

                        .form-actions {
                            #objednavka-cena {
                                float: left;
                                line-height: 34px;
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }

                    #objednavka-detail-modal {
                        .objednavka-cena {
                            margin-top: 5px;
                            margin-bottom: 0;
                        }
                    }

                    #faktura-form {
                        .faktura-polozka {
                            margin-bottom: 20px;
                            line-height: 34px;

                            label {
                                display: none;
                            }

//                            &:not(:first-child) {
//                                label {
//                                    display: none;
//                                }
//                            }
                        }
                    }

                    #material-pridat-form {
                        input {
                            &#material-hustota,
                            &#material-cena,
                            &#material-skladem_celkem {
                                text-align: right;
                            }
                        }
                    }

                    .modal-dialog {
                        .modal-content {
                            .modal-header {
                                h1, h2, h3, h4, h5, h6 {
                                    margin: 0px;
                                }
                            }

                            form:not([id*="search"]) {
                                margin-bottom: 0px;

                                .form-actions {
                                    margin: -15px;
                                    padding: 15px;
                                    background-color: #f5f5f5;
                                    border-top: 1px solid #e3e3e3;
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                                }
                            }

                            .grid-view {
                                table {
                                    margin-bottom: 0px;
                                }
                            }

                            .modal-body {
                                .alert {
                                    margin: 0px 0px 15px;
                                }
                            }

                            .modal-footer {
                                padding: 15px;
                                background-color: #f5f5f5;
                                border-top: 1px solid #e3e3e3;
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                            }
                        }
                    }

                    #zakaznik-dodaci-modal, #zakaznik-fakturacni-modal {
                        .modal-dialog {
                            form {
                                margin-bottom: 0px;

                                &.loading {
                                    .loading;
                                }
                            }
                        }
                    }

                    #zakaznik-dodaci-modal {
                        .modal-dialog {
                            .form-group {
                                &.field-dodaciudaje-zakaznik_pk,
                                &.field-dodaciudaje-dodaci_udaje_pk {
                                    display: none;
                                }
                            }
                        }
                    }

                    #zakaznik-fakturacni-modal {
                        .modal-dialog {
                            .form-group {
                                &.field-fakturacniudaje-zakaznik_pk,
                                &.field-fakturacniudaje-fakturacni_udaje_pk {
                                    display: none;
                                }
                            }
                        }
                    }

                    #faktura-objednavka-modal-objednavky,
                    #objednavka-polozka-modal {
                        div.grid-view {
                            table {
                                &.table-responsive {
                                    overflow-x: visible;
                                }

                                margin-bottom: 15px;
                            }

                            ul {
                                &.pagination {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    #zakaznik-detail {
                        & > div {
                            margin-bottom: 15px;
                        }

                        .udaje-wrapper {
                            display: table;
                            border-collapse: separate;
                            table-layout: fixed;
                            width: 100%;
                            position: relative;

                            div.bootstrap-select {
                                display: table-cell;
                                float: left;
                                width: 100%;
                            }

                            .btn-wrapper {
                                display: table-cell;
                                width: 40px;
                                white-space: nowrap;
                                vertical-align: top;

                                a[id$="-show-button"] {}
                            }
                        }
                    }

                    .objednavka-cena {
                        border: 1px solid #ddd;
                        padding: 8px;
                        text-align: right;
                        background-color: #f9f9f9;
                        font-size: 18px;

                        span.cena {
                            font-weight: bold;
                        }
                    }

                    #faktura-detail {
                        #faktura-header {
                            h2 {
                                margin-bottom: 10px;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #eee;
                            }
                        }

                        #faktura-adresy {
                            display: flex;
                            align-content: stretch;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            #dodavatel, #odberatel {
                                border: 1px solid #ddd;
                                padding: 10px 10px;
                                margin: 0px 15px;
                                width: 100%;

                                ul {
                                    list-style: none;
                                    padding-left: 20px;
                                }
                            }
                        }

                        #faktura-udaje {
                            div {
                                border: 1px solid #ddd;
                                padding: 10px 10px;
                                margin-bottom: 20px;

                                table {
                                    width: 100%;

                                    td {
                                        text-align: right;
                                    }
                                }
                            }
                        }

                        #polozky-faktury {
                            .polozka-faktury-header {
                                font-weight: bold;
                            }

                            .polozka-faktury {
                                & > div {
                                    border-bottom: 1px #eee solid;
                                }

                                &:last-child {
                                    & > div {
                                        border-bottom: none;
                                    }
                                }

                                div {
                                    text-align: right;

                                    &:nth-child(1),
                                    &:nth-child(2) {
                                        text-align: left;
                                    }
                                }
                            }
                        }

                        #faktura-ceny {
                            text-align: right;
                        }

                        #faktura-vystavil {
                            margin-bottom: 20px;
                            margin-top: 30px;
                        }
                    }
                }
            }

            .wrapperFooter {
                background-color: #f5f5f5;

                .footer {
                    width: 100%;
                    max-width: 1170px;
                    height: 60px;
                    background-color: #f5f5f5;
                    border-top: 1px solid #ddd;
                    padding-top: 20px;
                    margin: 0px auto;
                }
            }
        }

        .wrapperRight {
            display: none;
            background-color: #222;
            padding: 10px;

            #right-mobile-menu {
                a {
                    display: block;
                    //position: relative;
                    margin-bottom: 10px;
                    line-height: 32px;

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }

        .navbar {
            margin: 0px auto;
            border-radius: 0px;

            &.navbar-inverse {
                border: none;
            }
        }
    }

    .jumbotron {
        text-align: center;
        background-color: transparent;
    }

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

    form {
        margin-bottom: 20px;

        div.form-group.required {
            label:after {
                content: ' *';
                color: red;
            }
        }

        .form-actions {
            /*padding-left: 25%;*/
            /*text-align: right;*/

            .filter-preset {
                b {
                    margin-right: 10px;
                }
            }

            .btn {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    .not-set {
        color: #c55;
        font-style: italic;
    }

    /* add sorting icons to gridview sort links */
    a.asc:after, a.desc:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        padding-left: 5px;
    }

    a.asc:after {
        content: /*"\e113"*/ "\e151";
    }

    a.desc:after {
        content: /*"\e114"*/ "\e152";
    }

    .sort-numerical a.asc:after {
        content: "\e153";
    }

    .sort-numerical a.desc:after {
        content: "\e154";
    }

    .sort-ordinal a.asc:after {
        content: "\e155";
    }

    .sort-ordinal a.desc:after {
        content: "\e156";
    }

    .hint-block {
        display: block;
        margin-top: 5px;
        color: #999;
    }

    .error-summary {
        color: #a94442;
        background: #fdf7f7;
        border-left: 3px solid #eed3d7;
        padding: 10px 20px;
        margin: 0 0 15px 0;
    }

    &.login-page {
        .wrap {
            margin: auto;
            height: 100%;
            width: 100%;
        }

        .login-wrapper {
            max-width: 640px;
            width: 100%;
            margin: auto;
            position: relative;
            top: 50%;
            margin-top: -170px;
            border: 1px #9b9b9b solid;
            background-color: #ffffff;

            .container {
                width: 100%;
                padding: 40px;
                padding-bottom: 0px;

                .h2-buttons {
                    margin-top: 0px;
                    margin-bottom: 20px;
                }

                #prihlaseni-form, #zapomenute-heslo-form, #zapomenute-heslo-zmena-form {
                    .form-actions {
                        margin-bottom: 10px;

                        button[type="submit"] {

                        }
                    }
                }
            }

            footer {
                width: 100%;
                padding: 20px 40px 0px 40px;

                .container {
                    width: 100%;
                    padding: 0px;
                }
            }
        }
    }

    .daterangepicker {
        .ranges {
            ul li {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }
        }
    }

    .bootbox.modal {
        .modal-dialog {
            .modal-content {
                .modal-footer {
                    padding: 15px;
                    background-color: #f5f5f5;
                    border-top: 1px solid #e3e3e3;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body {
        .wrap {
            width: 100%;

            .wrapperMiddle {
                .wrapperContent {
                    .content {
                        .model-form {
                            margin: 0px auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
        min-height: 100%;

        .wrap {
            width: 100%;
            min-height: 100%;
            overflow-x: hidden;

            .wrapperLeft {
                position: relative;
                display: block;
                float: left;
                width: 200px;
                margin-left: -200px;
                min-height: 100%;
                overflow-x: hidden;

                .transition();
            }

            .wrapperMiddle {
                float: left;
                display: block;
                width: 100%;

                .transition();

                .wrapperHead {
                    .top-navbar {
                        .mobile-navbar {
                            display: block;
                        }

                        .module-navbar, .system-navbar {
                            display: none;
                        }
                    }
                }

                .wrapperContent {
                    width: 100%;

                    .breadcrumbs {
                        .logged-as {
                            display: none;
                        }
                    }

                    .content {
                        #zakaznik-dodaci-modal
                        , #zakaznik-fakturacni-modal {
                            .modal-dialog {
                                width: inherit;
                            }
                        }

                        .grid-view {
                            table {
                                td.action-column {
                                    padding: 6px 8px;
                                    font-size: 21px;
                                    line-height: 21px;
                                }
                            }
                        }

                        #faktura-detail {
                            #faktura-adresy {
                                display: inherit;
                                margin-bottom: 0px;

                                #dodavatel, #odberatel {
                                    display: block;
                                    margin-bottom: 20px;
                                    width: inherit;
                                }
                            }

                            #polozky-wrapper {
                                width: 100%;
                                margin-bottom: 20px;

                                #polozky-faktury {
//                                    display: table;
//                                    white-space: nowrap;
//                                    margin-bottom: 0px;
                                    overflow-y: hidden;
                                    overflow-x: scroll;

                                    .polozka-faktury-header
                                    , .polozka-faktury {
//                                        display: table-cell;
                                    }
                                }
                            }

                            #faktura-ceny {
                                margin-bottom: 20px;
                                text-align: left;

                                span {
                                    display: block;
                                }
                            }

                            #faktura-vystavil {
                                margin-bottom: 20px;
                            }
                        }

                        #faktura-form {
                            #faktura-polozky {
                                .faktura-polozky-header {
                                    display: none;
                                }

                                .faktura-polozka {
                                    &:not(:last-child) {
                                        border-bottom: 1px #eeeeee solid;
                                    }

                                    label {
                                        display: block;
                                        float: left;
                                        width: 30%;

                                        & + input, & + select + div.bootstrap-select {
                                            width: 70%;
                                        }
                                    }

                                    .polozka-akce {
                                        a.btn {
                                            margin-left: 30%;
                                        }
                                    }
                                }
                            }
                        }

                        #objednavka-polozka-modal {
                            #objednavka-modely-grid {
                                .table-responsive {
                                    overflow-x: scroll;
                                    overflow-y: visible;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.left-open {
            overflow-x: hidden;

            .wrap {
                .wrapperLeft {
                    position: relative;
                    margin-left: 0px;
                }

                .wrapperMiddle {
                    position: relative;
                    margin-right: -100%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        .wrap {
            width: 750px;

            .content {
                .objednavka-detail-udaje {
                    display: flex;
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;

                    .col-sm-4 {
                        margin: 0 10px 20px;
                        min-height: 130px;
                        box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        -webkit-box-sizing: content-box;

                        ul {
                            li {
                                &.warn {
                                    color: red;
                                }
                            }

                            &.zakladni-udaje {

                            }
                        }
                    }
                }

                #objednavka-polozka-modal, #faktura-objednavka-modal, #objednavka-detail-modal {
                    .modal-dialog {
                        width: 75%;
                        max-width: 1100px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    body {
        .wrap {
            width: 970px;
        }
    }
}

@media (min-width: 1200px) {
    body {
        .wrap {
            width: 1170px;
        }
    }
}