/**
 * loadovací mixin
 */
*:focus {
  outline: none;
}
html,
body {
  min-height: 100%;
}
body.dark {
  background-image: url("../images/dark-stripes.png");
  background-repeat: repeat;
}
body.light {
  background: url("../images/bg_body_top.png") repeat-x top, url("../images/bg_body_bottom.png") repeat-x bottom;
  background-color: white;
}
body {
  /* add sorting icons to gridview sort links */
}
body .form-control,
body .btn,
body .alert,
body .well,
body .dropdown-menu,
body .input-group-addon,
body .modal-content,
body .label {
  border-radius: 0;
}
body .well {
  padding: 15px;
}
body .label {
  padding: .3em .6em .3em;
  position: relative;
  top: -2px;
}
body #faktura-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -208px; */
  margin-left: -321px;
  background-image: url("../../modules/faktury/assets/images/voplasto.png");
  width: 653px;
  height: 416px;
  opacity: 0.2;
}
body .wrap {
  width: 1170px;
  margin: 0px auto;
  height: auto;
}
body .wrap .wrapperLeft {
  display: none;
  background-color: #222;
  padding: 10px;
}
body .wrap .wrapperLeft #left-mobile-menu a {
  display: block;
  margin-bottom: 10px;
  line-height: 32px;
  color: white;
  white-space: nowrap;
}
body .wrap .wrapperLeft #left-mobile-menu a img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
body .wrap .wrapperMiddle {
  background-color: #ffffff;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar {
  background-color: #222;
  padding: 10px;
  height: 84px;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar div[class*='-navbar'] a {
  display: block;
  position: relative;
  float: left;
  margin-right: 10px;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar div[class*='-navbar'] a:last-of-type {
  margin-right: 0px;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar div[class*='-navbar'] a.active:after,
body .wrap .wrapperMiddle .wrapperHead .top-navbar div[class*='-navbar'] a:hover:after {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -10px;
  left: 17px;
  width: 0;
  height: 0;
  /* sipecka */
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f5f5f5;
  /* ******* */
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar {
  display: none;
  color: white;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar .navbar-toggle {
  border-color: #333;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar .navbar-toggle.left {
  float: left;
  margin-right: 0px;
  margin-left: 15px;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar .navbar-toggle.right {
  float: right;
  margin-right: 15px;
  margin-left: 0px;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar .navbar-toggle:hover,
body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar .navbar-toggle:focus {
  background-color: #333;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .module-navbar {
  color: white;
  float: left;
}
body .wrap .wrapperMiddle .wrapperHead .top-navbar .system-navbar {
  color: white;
  float: right;
}
body .wrap .wrapperMiddle .wrapperContent .breadcrumbs {
  height: 37px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
body .wrap .wrapperMiddle .wrapperContent .breadcrumbs .breadcrumb {
  float: left;
  margin-bottom: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .breadcrumbs .breadcrumb.stable {
  display: block;
}
body .wrap .wrapperMiddle .wrapperContent .breadcrumbs .breadcrumb.hint {
  display: none;
}
body .wrap .wrapperMiddle .wrapperContent .breadcrumbs #module-hint {
  line-height: 37px;
  color: #777;
  padding: 8px 15px;
}
body .wrap .wrapperMiddle .wrapperContent .breadcrumbs .logged-as {
  float: right;
  margin-right: 15px;
  line-height: 37px;
}
body .wrap .wrapperMiddle .wrapperContent .alert {
  padding: 15px;
  margin: 20px 15px 0px;
  border: 1px solid transparent;
  border-radius: 0;
}
body .wrap .wrapperMiddle .wrapperContent .content {
  padding: 15px 15px 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content form {
  position: relative;
}
body .wrap .wrapperMiddle .wrapperContent .content form:after {
  display: none;
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.5) url("../images/ajax-loader.gif") no-repeat center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
body .wrap .wrapperMiddle .wrapperContent .content form.loading:after {
  display: block;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view .summary {
  margin-bottom: 5px;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table th {
  white-space: nowrap;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.price-column,
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.action-column {
  width: 1%;
  white-space: nowrap;
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.material-column {
  padding: 0;
  vertical-align: middle;
  width: 1%;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.material-column .bootstrap-select {
  height: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.material-column .bootstrap-select button {
  background-color: transparent;
  border: none;
  height: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.material-column .select-wrapper {
  position: relative;
  padding-right: 25px;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.material-column .select-wrapper select[name*='material'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 100%;
  border: none;
  background: transparent;
  padding: 7px 10px;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.material-column .select-wrapper span.caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
  margin-left: 0;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.show-detail-column a:hover {
  position: relative;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.show-detail-column a:hover::after {
  content: "\e105";
  font-family: Glyphicons Halflings;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: -15px;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view ul.pagination {
  margin: 0px auto 20px auto;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view ul.pagination > li:first-child > span,
body .wrap .wrapperMiddle .wrapperContent .content .grid-view ul.pagination > li:first-child > a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .grid-view ul.pagination > li:last-child > a,
body .wrap .wrapperMiddle .wrapperContent .content .grid-view ul.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .h2-buttons,
body .wrap .wrapperMiddle .wrapperContent .content .h3-buttons {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
body .wrap .wrapperMiddle .wrapperContent .content .h2-buttons a.btn,
body .wrap .wrapperMiddle .wrapperContent .content .h3-buttons a.btn {
  margin-right: 10px;
}
body .wrap .wrapperMiddle .wrapperContent .content .h2-buttons a.btn:last-child,
body .wrap .wrapperMiddle .wrapperContent .content .h3-buttons a.btn:last-child {
  margin-right: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .h2-buttons h2 {
  line-height: 34px;
  float: left;
  min-height: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content .h3-buttons h3 {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content .h4-buttons h4 {
  float: left;
}
body .wrap .wrapperMiddle .wrapperContent .content .h4-buttons a {
  display: inline-block;
  margin: 10px 0px 10px 10px;
  color: #333;
}
body .wrap .wrapperMiddle .wrapperContent .content #prihlaseni,
body .wrap .wrapperMiddle .wrapperContent .content #zapomenute-heslo,
body .wrap .wrapperMiddle .wrapperContent .content #zapomenute-heslo-zmena {
  width: 100%;
  max-width: 640px;
  margin: auto;
}
body .wrap .wrapperMiddle .wrapperContent .content #dashboard-modules .module-link-wrapper {
  width: 256px;
  height: 256px;
  float: left;
  position: relative;
  z-index: 10;
  margin: 0px 20px 20px 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content #dashboard-modules .module-link-wrapper:nth-of-type(4n+0) {
  margin-right: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content #dashboard-modules .module-link-wrapper .dashboard-module-link {
  display: block;
  float: left;
}
body .wrap .wrapperMiddle .wrapperContent .content #dashboard-modules .module-link-wrapper .module-link .module-link-desc {
  display: none;
}
body .wrap .wrapperMiddle .wrapperContent .content #dashboard-modules .module-link-wrapper .module-link:hover {
  display: table;
  position: relative;
  z-index: 20;
  text-decoration: none;
  color: white;
}
body .wrap .wrapperMiddle .wrapperContent .content #dashboard-modules .module-link-wrapper .module-link:hover .module-link-desc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 256px;
  height: 48px;
  display: table-cell;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
}
body .wrap .wrapperMiddle .wrapperContent .content div.row.dashboard #dashboard-probehle-udalosti table thead th:nth-child(3),
body .wrap .wrapperMiddle .wrapperContent .content div.row.dashboard #dashboard-nejblizsi-udalosti table thead th:nth-child(3) {
  width: 1%;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar thead,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head thead,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body thead {
  margin-bottom: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar thead th:nth-child(1),
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head thead th:nth-child(1),
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body thead th:nth-child(1) {
  text-align: left;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar thead th:nth-child(2),
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head thead th:nth-child(2),
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body thead th:nth-child(2) {
  text-align: center;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar thead th:nth-child(3),
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head thead th:nth-child(3),
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body thead th:nth-child(3) {
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody tr,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody tr,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody tr {
  border-bottom: 1px #eee solid;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody tr:last-of-type,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody tr:last-of-type,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody tr:last-of-type {
  border-bottom: none;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody tr td,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody tr td,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody tr td {
  border-right: 1px #eee solid;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody tr td:last-of-type,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody tr td:last-of-type,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody tr td:last-of-type {
  border-right: none;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td {
  width: 14.28571428571429%;
  vertical-align: top;
  position: relative;
  padding-bottom: 14.28571428571429%;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td span.den-cislo,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td span.den-cislo,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td span.den-cislo {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: attr(data-den);
  color: #dddddd;
  text-align: center;
  z-index: 1;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div div[class^="seznam-akci"],
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div div[class^="seznam-akci"],
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div div[class^="seznam-akci"] {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  z-index: 10;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div div[class^="seznam-akci"] ul,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div div[class^="seznam-akci"] ul,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div div[class^="seznam-akci"] ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div div[class^="seznam-akci"] ul li,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div div[class^="seznam-akci"] ul li,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div div[class^="seznam-akci"] ul li {
  height: 14px;
  line-height: 14px;
  font-size: 10px;
  overflow-y: hidden;
  padding: 0px 5px;
  margin-bottom: 5px;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div div[class^="seznam-akci"] ul li:last-child,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div div[class^="seznam-akci"] ul li:last-child,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div div[class^="seznam-akci"] ul li:last-child {
  margin-bottom: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div div[class^="seznam-akci"] ul li a,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div div[class^="seznam-akci"] ul li a,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div div[class^="seznam-akci"] ul li a {
  color: black;
  text-decoration: none;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar tbody td > div div[class^="seznam-akci"] ul li a:hover,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head tbody td > div div[class^="seznam-akci"] ul li a:hover,
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-body tbody td > div div[class^="seznam-akci"] ul li a:hover {
  color: white;
  text-decoration: underline;
}
body .wrap .wrapperMiddle .wrapperContent .content table.kalendar-head {
  margin-bottom: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content ul.nav-tabs {
  margin-bottom: 10px;
}
body .wrap .wrapperMiddle .wrapperContent .content .model-galerie {
  margin-left: -5px;
  margin-right: -5px;
}
body .wrap .wrapperMiddle .wrapperContent .content .model-galerie .img-thumbnail {
  border-radius: 0px;
  width: 142px;
  height: auto;
  margin: 0px 5px 10px;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie {
  width: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie #model3d-viewer {
  width: 100%;
  height: 640px;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  overflow: hidden;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie #model3d-viewer .file-not-found {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/file_not_found.png') no-repeat center center;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie #model3d-viewer .file-not-found h3 {
  margin: 0;
  position: relative;
  bottom: -80%;
  text-align: center;
  width: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani {
  text-align: center;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani button {
  margin-right: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani button:last-child {
  margin-right: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani > span {
  margin-right: 16px;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani .thingie-radio {
  display: inline;
  margin-right: 24px;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani .thingie-radio label {
  margin-bottom: 0px;
  margin-right: -4px;
}
body .wrap .wrapperMiddle .wrapperContent .content .thingie .viewer-ovladani .thingie-radio label input[type="radio"] {
  display: none;
}
body .wrap .wrapperMiddle .wrapperContent .content #model-form {
  width: 100%;
  max-width: 760px;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form {
  position: relative;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form:after {
  display: none;
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.5) url("../images/ajax-loader.gif") no-repeat center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form.loading:after {
  display: block;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka {
  /*&:nth-of-type(2) {
                                    background-color: #eeeeee;
                                }*/
  width: 100%;
  margin-bottom: 26px;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-nazev {
  line-height: 34px;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy {
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy input[type="text"] {
  float: left;
  display: inline-block;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy .input-group {
  width: 200px;
  float: left;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy .input-group input[type="text"] {
  width: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy .link-group a.polozka-odebrat,
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy .link-group a.polozka-plus,
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form #objednavka-polozky .objednavka-polozka .polozka-inputy .link-group a.polozka-minus {
  line-height: 34px;
  font-size: 20px;
  margin-left: 7px;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-pridat-form .form-actions #objednavka-cena {
  float: left;
  line-height: 34px;
  font-size: 20px;
  font-weight: bold;
}
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-detail-modal .objednavka-cena {
  margin-top: 5px;
  margin-bottom: 0;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-form .faktura-polozka {
  margin-bottom: 20px;
  line-height: 34px;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-form .faktura-polozka label {
  display: none;
}
body .wrap .wrapperMiddle .wrapperContent .content #material-pridat-form input#material-hustota,
body .wrap .wrapperMiddle .wrapperContent .content #material-pridat-form input#material-cena,
body .wrap .wrapperMiddle .wrapperContent .content #material-pridat-form input#material-skladem_celkem {
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-header h1,
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-header h2,
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-header h3,
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-header h4,
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-header h5,
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-header h6 {
  margin: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content form:not([id*="search"]) {
  margin-bottom: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content form:not([id*="search"]) .form-actions {
  margin: -15px;
  padding: 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .grid-view table {
  margin-bottom: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-body .alert {
  margin: 0px 0px 15px;
}
body .wrap .wrapperMiddle .wrapperContent .content .modal-dialog .modal-content .modal-footer {
  padding: 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog form,
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog form {
  margin-bottom: 0px;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog form.loading,
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog form.loading {
  position: relative;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog form.loading:after,
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog form.loading:after {
  display: none;
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.5) url("../images/ajax-loader.gif") no-repeat center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog form.loading.loading:after,
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog form.loading.loading:after {
  display: block;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog .form-group.field-dodaciudaje-zakaznik_pk,
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog .form-group.field-dodaciudaje-dodaci_udaje_pk {
  display: none;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog .form-group.field-fakturacniudaje-zakaznik_pk,
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog .form-group.field-fakturacniudaje-fakturacni_udaje_pk {
  display: none;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-objednavka-modal-objednavky div.grid-view table,
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-polozka-modal div.grid-view table {
  margin-bottom: 15px;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-objednavka-modal-objednavky div.grid-view table.table-responsive,
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-polozka-modal div.grid-view table.table-responsive {
  overflow-x: visible;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-objednavka-modal-objednavky div.grid-view ul.pagination,
body .wrap .wrapperMiddle .wrapperContent .content #objednavka-polozka-modal div.grid-view ul.pagination {
  margin-bottom: 0;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-detail > div {
  margin-bottom: 15px;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-detail .udaje-wrapper {
  display: table;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  position: relative;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-detail .udaje-wrapper div.bootstrap-select {
  display: table-cell;
  float: left;
  width: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-detail .udaje-wrapper .btn-wrapper {
  display: table-cell;
  width: 40px;
  white-space: nowrap;
  vertical-align: top;
}
body .wrap .wrapperMiddle .wrapperContent .content .objednavka-cena {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
  background-color: #f9f9f9;
  font-size: 18px;
}
body .wrap .wrapperMiddle .wrapperContent .content .objednavka-cena span.cena {
  font-weight: bold;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-header h2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy #dodavatel,
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy #odberatel {
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin: 0px 15px;
  width: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy #dodavatel ul,
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy #odberatel ul {
  list-style: none;
  padding-left: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-udaje div {
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin-bottom: 20px;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-udaje div table {
  width: 100%;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-udaje div table td {
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-faktury .polozka-faktury-header {
  font-weight: bold;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-faktury .polozka-faktury > div {
  border-bottom: 1px #eee solid;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-faktury .polozka-faktury:last-child > div {
  border-bottom: none;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-faktury .polozka-faktury div {
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-faktury .polozka-faktury div:nth-child(1),
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-faktury .polozka-faktury div:nth-child(2) {
  text-align: left;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-ceny {
  text-align: right;
}
body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-vystavil {
  margin-bottom: 20px;
  margin-top: 30px;
}
body .wrap .wrapperMiddle .wrapperFooter {
  background-color: #f5f5f5;
}
body .wrap .wrapperMiddle .wrapperFooter .footer {
  width: 100%;
  max-width: 1170px;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin: 0px auto;
}
body .wrap .wrapperRight {
  display: none;
  background-color: #222;
  padding: 10px;
}
body .wrap .wrapperRight #right-mobile-menu a {
  display: block;
  margin-bottom: 10px;
  line-height: 32px;
}
body .wrap .wrapperRight #right-mobile-menu a img {
  margin-right: 10px;
}
body .wrap .navbar {
  margin: 0px auto;
  border-radius: 0px;
}
body .wrap .navbar.navbar-inverse {
  border: none;
}
body .jumbotron {
  text-align: center;
  background-color: transparent;
}
body .jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
body form {
  margin-bottom: 20px;
}
body form div.form-group.required label:after {
  content: ' *';
  color: red;
}
body form .form-actions {
  /*padding-left: 25%;*/
  /*text-align: right;*/
}
body form .form-actions .filter-preset b {
  margin-right: 10px;
}
body form .form-actions .btn {
  margin-right: 10px;
}
body form .form-actions .btn:last-child {
  margin-right: 0px;
}
body .not-set {
  color: #c55;
  font-style: italic;
}
body a.asc:after,
body a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
body a.asc:after {
  content: /*"\e113"*/ "\e151";
}
body a.desc:after {
  content: /*"\e114"*/ "\e152";
}
body .sort-numerical a.asc:after {
  content: "\e153";
}
body .sort-numerical a.desc:after {
  content: "\e154";
}
body .sort-ordinal a.asc:after {
  content: "\e155";
}
body .sort-ordinal a.desc:after {
  content: "\e156";
}
body .hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
body .error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
body.login-page .wrap {
  margin: auto;
  height: 100%;
  width: 100%;
}
body.login-page .login-wrapper {
  max-width: 640px;
  width: 100%;
  margin: auto;
  position: relative;
  top: 50%;
  margin-top: -170px;
  border: 1px #9b9b9b solid;
  background-color: #ffffff;
}
body.login-page .login-wrapper .container {
  width: 100%;
  padding: 40px;
  padding-bottom: 0px;
}
body.login-page .login-wrapper .container .h2-buttons {
  margin-top: 0px;
  margin-bottom: 20px;
}
body.login-page .login-wrapper .container #prihlaseni-form .form-actions,
body.login-page .login-wrapper .container #zapomenute-heslo-form .form-actions,
body.login-page .login-wrapper .container #zapomenute-heslo-zmena-form .form-actions {
  margin-bottom: 10px;
}
body.login-page .login-wrapper footer {
  width: 100%;
  padding: 20px 40px 0px 40px;
}
body.login-page .login-wrapper footer .container {
  width: 100%;
  padding: 0px;
}
body .daterangepicker .ranges ul li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body .bootbox.modal .modal-dialog .modal-content .modal-footer {
  padding: 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (max-width: 991px) {
  body .wrap {
    width: 100%;
  }
  body .wrap .wrapperMiddle .wrapperContent .content .model-form {
    margin: 0px auto;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    min-height: 100%;
  }
  body .wrap {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
  body .wrap .wrapperLeft {
    position: relative;
    display: block;
    float: left;
    width: 200px;
    margin-left: -200px;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-timing-function: ease-out;
  }
  body .wrap .wrapperMiddle {
    float: left;
    display: block;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-timing-function: ease-out;
  }
  body .wrap .wrapperMiddle .wrapperHead .top-navbar .mobile-navbar {
    display: block;
  }
  body .wrap .wrapperMiddle .wrapperHead .top-navbar .module-navbar,
  body .wrap .wrapperMiddle .wrapperHead .top-navbar .system-navbar {
    display: none;
  }
  body .wrap .wrapperMiddle .wrapperContent {
    width: 100%;
  }
  body .wrap .wrapperMiddle .wrapperContent .breadcrumbs .logged-as {
    display: none;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-dodaci-modal .modal-dialog,
  body .wrap .wrapperMiddle .wrapperContent .content #zakaznik-fakturacni-modal .modal-dialog {
    width: inherit;
  }
  body .wrap .wrapperMiddle .wrapperContent .content .grid-view table td.action-column {
    padding: 6px 8px;
    font-size: 21px;
    line-height: 21px;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy {
    display: inherit;
    margin-bottom: 0px;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy #dodavatel,
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-adresy #odberatel {
    display: block;
    margin-bottom: 20px;
    width: inherit;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #polozky-wrapper #polozky-faktury {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-ceny {
    margin-bottom: 20px;
    text-align: left;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-ceny span {
    display: block;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-detail #faktura-vystavil {
    margin-bottom: 20px;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-form #faktura-polozky .faktura-polozky-header {
    display: none;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-form #faktura-polozky .faktura-polozka:not(:last-child) {
    border-bottom: 1px #eeeeee solid;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-form #faktura-polozky .faktura-polozka label {
    display: block;
    float: left;
    width: 30%;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-form #faktura-polozky .faktura-polozka label + input,
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-form #faktura-polozky .faktura-polozka label + select + div.bootstrap-select {
    width: 70%;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #faktura-form #faktura-polozky .faktura-polozka .polozka-akce a.btn {
    margin-left: 30%;
  }
  body .wrap .wrapperMiddle .wrapperContent .content #objednavka-polozka-modal #objednavka-modely-grid .table-responsive {
    overflow-x: scroll;
    overflow-y: visible;
  }
  body.left-open {
    overflow-x: hidden;
  }
  body.left-open .wrap .wrapperLeft {
    position: relative;
    margin-left: 0px;
  }
  body.left-open .wrap .wrapperMiddle {
    position: relative;
    margin-right: -100%;
  }
}
@media (min-width: 768px) {
  body .wrap {
    width: 750px;
  }
  body .wrap .content .objednavka-detail-udaje {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  body .wrap .content .objednavka-detail-udaje .col-sm-4 {
    margin: 0 10px 20px;
    min-height: 130px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }
  body .wrap .content .objednavka-detail-udaje .col-sm-4 ul li.warn {
    color: red;
  }
  body .wrap .content #objednavka-polozka-modal .modal-dialog,
  body .wrap .content #faktura-objednavka-modal .modal-dialog,
  body .wrap .content #objednavka-detail-modal .modal-dialog {
    width: 75%;
    max-width: 1100px;
  }
}
@media (min-width: 992px) {
  body .wrap {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body .wrap {
    width: 1170px;
  }
}
