.h2-buttons, #faktura-vystavit-modal {
    display: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

span.not-set {
    font-style: italic;
    color: #808080;
}

.row {
    width: 100%;

    .col-sm-4 {
        width: unit(100 / (12 / 4), %);
        float: left;
    }

    .col-sm-6 {
        width: unit(100 / (12 / 6), %);
        float: left;
    }

    .col-sm-8 {
        width: unit(100 / (12 / 8), %);
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }
}

#faktura-adresy {
    margin-bottom: 0.5cm;

    ul {
        list-style: none;
        padding-left: 2mm;
        margin-top: 1mm;

        li {

        }
    }
}

#faktura-udaje {
    margin-bottom: 1cm;

    table {
        width: 100%;

        tr {
            th {
                width: 50%;
                text-align: left;
            }

            td {
                width: 50%;
                text-align: right;
            }
        }
    }
}

#polozky-wrapper {
    width: 100%;

    #polozky-faktury {
        width: 100%;

        table {
            width: 100%;
            margin-bottom: 1cm;
            border-collapse: collapse;

            tbody {
                tr {
                    &:nth-child(odd) {
                        background-color: #eeeeee;
                    }
                }
            }

            tr {
                th, td {
                    padding: 2mm;

                    &:nth-child(4), &:nth-child(5) {
                        text-align: right;
                    }
                }

                th {
                    text-align: left;
                }
            }
        }
    }
}

#faktura-ceny {
    width: 100%;
    margin-bottom: 1cm;
    text-align: right;

    position: absolute;
    left: 5cm;

    span#cena_dph {
        font-weight: bold;
    }
}

#faktura-vystavil {
    margin-bottom: 20px;
}