.h2-buttons,
#faktura-vystavit-modal {
  display: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
span.not-set {
  font-style: italic;
  color: #808080;
}
.row {
  width: 100%;
}
.row .col-sm-4 {
  width: 33.33333333%;
  float: left;
}
.row .col-sm-6 {
  width: 50%;
  float: left;
}
.row .col-sm-8 {
  width: 66.66666667%;
  float: left;
}
.row .col-sm-12 {
  width: 100%;
}
#faktura-adresy {
  margin-bottom: 0.5cm;
}
#faktura-adresy ul {
  list-style: none;
  padding-left: 2mm;
  margin-top: 1mm;
}
#faktura-udaje {
  margin-bottom: 1cm;
}
#faktura-udaje table {
  width: 100%;
}
#faktura-udaje table tr th {
  width: 50%;
  text-align: left;
}
#faktura-udaje table tr td {
  width: 50%;
  text-align: right;
}
#polozky-wrapper {
  width: 100%;
}
#polozky-wrapper #polozky-faktury {
  width: 100%;
}
#polozky-wrapper #polozky-faktury table {
  width: 100%;
  margin-bottom: 1cm;
  border-collapse: collapse;
}
#polozky-wrapper #polozky-faktury table tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
#polozky-wrapper #polozky-faktury table tr th,
#polozky-wrapper #polozky-faktury table tr td {
  padding: 2mm;
}
#polozky-wrapper #polozky-faktury table tr th:nth-child(4),
#polozky-wrapper #polozky-faktury table tr td:nth-child(4),
#polozky-wrapper #polozky-faktury table tr th:nth-child(5),
#polozky-wrapper #polozky-faktury table tr td:nth-child(5) {
  text-align: right;
}
#polozky-wrapper #polozky-faktury table tr th {
  text-align: left;
}
#faktura-ceny {
  width: 100%;
  margin-bottom: 1cm;
  text-align: right;
  position: absolute;
  left: 5cm;
}
#faktura-ceny span#cena_dph {
  font-weight: bold;
}
#faktura-vystavil {
  margin-bottom: 20px;
}
